body {
    background-image: url(../images/narutoBg.jpg);
    background-size: cover;
}


.jumbotron,
.gameBg {
    background-color: #5e7984;
    opacity: .9;
}

.jumbotron h1,
.jumbotron p {
    color: #faf9c3;
    text-align: center;
}

h1 {
    font-size: 4.5em;
}

.jumbotron p {
    font-size: 1.5em;
}
 
/*************
game section
 *************/

#game {
    margin: 0 auto;
}

#gamebtn {
    background-color: #58445f;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 30%;
}

#timeDisplay{
    padding: 15px 0px;
    text-align: center;
}

#quiz {
    margin-top: 10px;
    margin: 0 auto;
    /* width: 70%; */
}


label,
.question,
p {
    color: white;
}


/* media queries */
@media (max-width: 500px){
    h1 {
        font-size: 2em;
    }

    .container {
        width: 95%;
    }
    .jumbotron p {
        font-size: 1em;
    }
}