body {
    background-image: url(../images/narutoBg.jpg);
    background-size: 1366px 768px;
}

.jumbotron,
.gameBg {
    background-color: #5e7984;
    opacity: .9;
}

.jumbotron h1,
.jumbotron p {
    color: #faf9c3;
    text-align: center;
}

h1 {
    font-size: 4.5em;
}

.jumbotron p {
    font-size: 1.5em;
}


/*************
game section
 *************/

#game {
    margin: 0 auto;
}

button {
    background-color: #58445f;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

#gamebtn {
    width: 30%;
}

#timeDisplay {
    padding: 15px 0px;
    text-align: center;
}

#quiz {
    margin-top: 10px;
    margin: 0 auto;
    color: #fff;
}

#submit {
    margin: 10px;
}

label,
.question,
p {
    color: white;
}

.question {
    padding-top: 10px;
}

.hide {
    display: none;
}


/* media queries */

@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
    #quiz {
        padding: 0px 50px;
    }
    .container {
        width: 95%;
    }
    .jumbotron p {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    #quiz {
        padding: 0px 55px;
    }
}

@media (min-width: 1024px) {
    #quiz {
        padding: 0px 150px;
    }
}